body{
	background-color: rgb(221, 217, 217);
	font-family: Arial, Helvetica, sans-serif;
}



header{
	background-color: rgb(175, 174, 174);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header__wr{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1150px;
	padding: 10px;
	margin: 0 auto;
}

.wr{
	margin: 0 auto;
	margin-top: 50px;
	max-width: 1150px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 30px;
	padding: 10px;
	margin-top: 100px;
}


.cart{
	max-width: 400px;
	background-color: #fff;
	padding: 20px 17px;
	border-radius: 4px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	
}
.cart__img{
	padding-left: 30px;
	padding-right: 30px;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-width: 100%;
}

.cart h2{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 15px;
}

.cart p{
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	color: rgb(141, 139, 139);
}

.cart__btn{
	width: 100%;
	background: -moz-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(46,255,49,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#2EFF31',GradientType=1 );
	padding: 10px;
	display: block;
	border-radius: 4px;
	font-weight: 500;
	color: rgb(70, 69, 69);
}

.cart__btn.active{
	background: -moz-linear-gradient(45deg, rgb(21, 148, 23) 0%, rgb(3, 71, 71) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(27, 129, 29)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgb(25, 124, 26) 0%, rgb(8, 104, 104) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgb(25, 126, 27) 0%, rgb(11, 107, 107) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgb(29, 124, 31) 0%, rgb(7, 87, 87) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgb(30, 150, 32) 0%, rgb(12, 95, 95) 100%); /* w3c */
	color: #fff;
	transition: all 0.3s linear;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#2EFF31',GradientType=1 );
}









.cart__price-img{
	max-width: 30px;
	max-height: 30px;
	margin-right: 10px;
}

@media (max-width: 992px){
		.wr{
			grid-template-columns: repeat(3,1fr);
		}
}

@media (max-width: 767px){
	.wr{
		grid-template-columns: repeat(2,1fr);
	}
}

@media (max-width: 480px){
	.wr{
		grid-template-columns: 1fr;
	}
}

.basket{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.basket span{
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 600;
}

.basket img{
	max-width: 40px;
	max-height: 40px;
}

.basket{
	cursor: pointer;
}



.drawer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.664);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px 50px;
	transition: all 0.3s linear;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.drawer.active{
	transition: all 0.3s linear;
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}



.drawer__body{
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
}





.drawer__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 22px;
	margin-bottom: 20px;
}


.drawer__items {
	width: 100%;
	flex: 1 1 auto;
	overflow: auto;
	padding-right: 10px;
}
.drawer__btn {
	align-self: flex-end;
	padding: 7px 15px;
	margin-top: 20px;
	border-radius: 5px;
	background: -moz-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(46,255,49,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(46,255,49,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#2EFF31',GradientType=1 );
}

.drawer__close{
cursor: pointer;
}



.drawer__item img{
	max-height: 100%;
	max-width: 80px;
	width: 100%;
	padding: 5px;
}


.drawer__item h3{
	padding: 5px;
}



.drawer__item{
	display: grid;
	place-items: center;
	grid-template-columns: 0.1fr 0.5fr auto 0.1fr 0.1fr;
	border: 1px solid #000;
	margin-bottom: 10px;
	border-radius: 5px;
}

.drawer__counter button{
	margin: 5px;
	border: 1px solid #000;
	padding: 5px;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: rgb(30, 167, 33);
	font-weight: 700;
	
}

.drawer__counter{
	display: flex;
	align-items: center;
}
.count__num{
	cursor: auto;
}

.drawer__item span{
	padding: 5px;
	cursor: pointer; 
	font-weight: 900;
}

@media (max-width: 767px){

	.drawer__items{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	.drawer__item{
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 10px;
	}

	.drawer__item img{
		flex: 1 1 auto;
		max-height: 110px;
	}
	.drawer__item h3{
		text-align: center;
	}
	.drawer__item span{
		position: absolute;
		top: 0;
		right: 5px;
	}
	.drawer{
		padding: 30px 20px;
	}
	.drawer__counter{
		margin: 10px 0;
	}
	}

	@media (max-width: 480px){
		.drawer__items{
			display: grid;
			grid-template-columns: 1fr;
			gap: 10px;
		}
	}

	@media (max-width: 480px){
		.cart{
			max-width: 100%;
		}
	}
	